.clip1 {
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}



/* Animation */
.scale-down-center {
	-webkit-animation: scale-down-center 1s  both;
	        animation: scale-down-center 1s  both;
}
.scale-down-center-1 {
	-webkit-animation: scale-down-center-1 1s  both;
	        animation: scale-down-center-1 1s  both;
}

.rotate-center {
	-webkit-animation: rotate-center 0.9s ease-in-out both;
	        animation: rotate-center 0.9s ease-in-out both;
}

.slide-left {
	-webkit-animation: slide-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-left-sm {
	-webkit-animation: slide-left-sm 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left-sm 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
	-webkit-animation: slide-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-right-sm {
	-webkit-animation: slide-right-sm 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right-sm 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right-1 {
	-webkit-animation: slide-right-1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right-1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right-2 {
	-webkit-animation: slide-right-2 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right-2 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right-2-after {
	-webkit-animation: slide-right-2 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right-2 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.2s;
}


.slide-left-1 {
	-webkit-animation: slide-left-1 0.9s  both;
	        animation: slide-left-1 0.9s  both;
}

.flicker-in-1 {
	-webkit-animation: flicker-in-1 2s linear both;
	        animation: flicker-in-1 2s linear both;
}

.slide-in-top {
	-webkit-animation: slide-in-top 1s  both;
	        animation: slide-in-top 1s  both;
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.blur-in {
  animation: blur-in 0.9s ease-in both;
}

.blur-in-2 {
  animation: blur-in-2 0.7s ease-in both;
}

/* Keyframe */

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.6);
              transform: scale(0.6);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.6);
              transform: scale(0.6);
      opacity: 1;
    }
  }


@-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
        
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }

  @-webkit-keyframes scale-down-center-1 {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
        
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @keyframes scale-down-center-1 {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }


  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
  }

  @-webkit-keyframes slide-left-sm {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
    }
  }
  @keyframes slide-left-sm {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
    }
  }

  @-webkit-keyframes slide-right-sm {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
  }
  @keyframes slide-right-sm {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
  }

  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
    }
  }

  
  @-webkit-keyframes slide-right-1 {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
  }
  @keyframes slide-right-1 {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
  }

  @-webkit-keyframes slide-right-2 {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
    }
  }
  @keyframes slide-right-2 {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
              opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
              opacity: 1;
    }
  }
  

  @-webkit-keyframes slide-left-1 {
    0% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes slide-left-1 {
    0% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }

  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  

  @-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }



  @keyframes blur-in {
    0% {
      width: 100%;
      filter: blur(12px);
    }
    100% {
      width: 50%;
      filter: blur(0px);
    }
  }

  @keyframes blur-in-2 {
    0% {
      transform: translateY(800px);
      filter: blur(4px);
    }
    100% {
      transform: translateY(0px);
      filter: blur(0px);
    }
  }